API_KEY=replace-with-a-long-random-value
DATA_SOURCE=webbsite
CCASS_CSV_URL=
CCASS_CSV_MAX_BYTES=5000000
WEBBSITE_BASE_URL=https://webbsite.0xmd.com
WEBBSITE_FALLBACK_BASE_URL=https://webbsite.renavon.com
REQUEST_TIMEOUT_SECONDS=12
CACHE_TTL_SECONDS=900
MIN_REQUEST_INTERVAL_SECONDS=1.0

